body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

header {
    background-color: white;
}

a {
    text-decoration: none;
}

h2 {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.h3-team {
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.8;
    letter-spacing: 0.4px;
}

.p-team {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.67;
    letter-spacing: 0.32px;
}

.logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.address-link {
    color: #434455;
}

ul {
    list-style-type: none;
}

.section-heading-first {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.section-heading {
    
}

.class-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.class-button:hover,
.class-button:focus {
    background-color: #404BBF;
}

.section-second {
    background-color: white;
}

.team-list {
    background-color: white;
}

.section-first {
        background-color: #2E2F42;
}