body {
    font-family: Roboto;
    color: #434455;
    background-color: #FFFFFF;
}

header {
    background-color: white;
}

a {
    text-decoration: none;
}

h2 {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.h3-team {
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.p-team {
    text-align: center;
}

p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.logo-first {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-second {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-link {
    color: #2E2F42;
}

.address-link {
    color: #434455;
}

ul {
    list-style-type: none;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    background-color: #2E2F42;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.section-content {
    background-color: white;
}

.team-list {
    background-color: white;
}